*{
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a5d8f;
}

header div{
    display: flex;
}

header div h1{
    color: white;
    font-family: sans-serif;
    font-weight: normal;
}

header img{
    width: 64px;
    height: 64px;
    margin: 0.5rem;
}

header nav ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header nav ul li a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0.8rem 1rem;
}

header nav ul li a:hover{
    background-color: #0c6eaa;
}

body{
    margin: 0px;
    padding: px;
}


body main{
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.productos{
    display: flex;
    padding: 4rem;
    margin: 0rem;
}

.datos h3{
    font-family: 'Fredericka the Great';
    font-weight: normal;
}

.datos span{
    margin: 0px;
    font-family: 'Fredericka the Great';
}

.datos{
    display: flex;
    padding: 0rem 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.productos img{
    padding: 0rem 0.5rem;
}

.datos button{
    width: 100px;
    height: 60px;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: #0a5d8f;
    border: none;
    border-radius: 15%;
}

.productos button:hover{
    background-color: #0c6eaa;
    cursor: pointer;
}

body footer{
    background-color: #0a5d8f;
}

body footer div{
    align-items: center;
    display: flex;
    justify-content: right;
}

body footer div a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
}

body footer div a img{
    width: 32px;
    height: 32px;
    margin: 0.2rem;
}

